
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
        <div class="mobile-menu-handle"></div>
        <article class="content items-list-page">
            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title"> {{nameCategory.name}}
                                {{#if catID}}
                                    <a href="/admin/san-pham/{{calling}}/them-san-pham" class="btn btn-primary btn-sm rounded-s" id="addnew"> Add New </a>
                                {{else}}
                                {{/if}}
                                <!--
         -->
                                <div class="action dropdown">
                                    <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More actions... </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-pencil-square-o icon"></i>Mark as a draft</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal">
                                            <i class="fa fa-close icon"></i>Delete</a>
                                    </div>
                                </div>
                            </h3>
                            <p class="title-description"> Tổng sản phẩm: {{totalProduct.total}} </p>
                        </div>
                    </div>
                </div>
                <div class="items-search">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                            <span class="input-group-btn">
                                        <button class="btn btn-secondary rounded-s" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card items">
                <ul class="item-list striped">
                    <li class="item item-list-header">
                        <div class="item-row">
                            <div class="item-col fixed item-col-check">
                                <label class="item-check" id="select-all-items">
                                    <input type="checkbox" class="checkbox">
                                    <span></span>
                                </label>
                            </div>
                            <div class="item-col item-col-header fixed item-col-img md">
                                <div>
                                    <span>Hình ảnh</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-title">
                                <div>
                                    <span>Tên tiêu đề</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-sales">
                                <div>
                                    <span>Giá tiền</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-stats">
                                <div class="no-overflow">
                                    <span>Quận</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-category">
                                <div class="no-overflow">
                                    <span>Trạng thái</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-author">
                                <div class="no-overflow">
                                    <span>Người đăng</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header item-col-date">
                                <div>
                                    <span>Ngày đăng</span>
                                </div>
                            </div>
                            <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
                        </div>
                    </li>
                    {{#each list}}
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-check">
                                    <label class="item-check" id="select-all-items">
                                        <input type="checkbox" class="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="item-col fixed item-col-img md">
                                    <a>
                                        <div class="item-img rounded" style="background-image: url({{this.image}})"></div>
                                    </a>
                                </div>
                                <div class="item-col fixed pull-left item-col-title">
                                    <div class="item-heading">Tên tiêu đề</div>
                                    <div>
                                        <a  class="">
                                            <h4 class="item-title"> {{this.title}} </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-sales">
                                    <div class="item-heading">Giá</div>
                                    {{#if (check this.price)}}
                                        <div> Thỏa thuận </div>
                                    {{else}}
                                        <div> {{format_number this.price}} </div>
                                    {{/if}}
                                </div>
                                <div class="item-col item-col-stats no-overflow">
                                    <div class="item-heading">Stats</div>
                                    <div class="no-overflow">
                                        {{this.ward}}
                                    </div>
                                </div>
                                <div class="item-col item-col-category no-overflow">
                                    <div class="item-heading">Trạng thái</div>
                                    {{#if this.status}}
                                        <div>
                                            {{this.status}}
                                        </div>
                                    {{else}}
                                        <div class="no-overflow">
                                          Vẫn còn
                                        </div>
                                    {{/if}}

                                </div>
                                <div class="item-col item-col-author">
                                    <div class="item-heading">Người đăng</div>
                                    <div class="no-overflow">
                                        <a >{{this.name}}</a>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div class="no-overflow"> {{time this.start}} </div>
                                </div>
                                <div class="item-col fixed item-col-actions-dropdown">
                                    <div class="item-actions-dropdown">
                                        <a class="item-actions-toggle-btn">
                                                <span class="inactive">
                                                    <i class="fa fa-cog"></i>
                                                </span>
                                            <span class="active">
                                                    <i class="fa fa-chevron-circle-right"></i>
                                                </span>
                                        </a>
                                        <div class="item-actions-block">
                                            <ul class="item-actions-list">
                                               <!-- <li>
                                                    <a class="remove" id="{{this.id}}" href="" >
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </li>-->
                                                <li>
                                                    {{#if this.check}}
                                                        <li>
                                                        <a class="edit" href="sua-san-pham/{{this.id}}">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        </li>
                                                        <li>
                                                        <a class="edit" href="#" name="{{this.id}}" id="removeproduct">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                        </li>
                                                    {{else}}
                                                        <a class="edit" href="/admin/xem-chi-tiet-san-pham/{{this.id}}">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    {{/if}}

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{/each}}

        </article>

            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
</body>
<div class="position-fixed bottom-0 end-0 p-3" id="toast" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/public/assets/estate/realestate.png" style="width: 30px;height: 30px" class="rounded me-2" alt="...">
            <strong class="me-auto">Thông tin sản phẩm</strong>
            <small>Hiện tại</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Xóa sản phẩm thành công. Vui lòng đợi ít phút để tải lại
        </div>
    </div>
</div>



<div class="modal fade" id="cofirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa sản phẩm này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" id="cofirmremove" class="btn btn-b-n">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
{{#section 'jsAdmin'}}
    <script type="text/javascript">
    $('[id="removeproduct"]').click(function (){
        $("#cofirm-modal").modal('show');
        a=$(this).attr('name');
    });

    $('[id="cofirmremove"]').click(function (){
        console.log(a)
        $.post("/admin/product/remove-product",{proid:a},function (data,status){
            if(data){
                console.log(data);
                $("#cofirm-modal").modal('hide');
                $("#liveToast").toast('show');
                const myTimeout = setTimeout(function (){
                    location.reload();
                }, 3000);

            }
        });
    })

    $(".remove").click(function(){
        $.post("/admin/danh-muc/:calling/xoa-san-pham",{proID:this.id},function (data,status){
            console.log(data);
            if(data){
                alert("Hello")
            }
        });
    });
    $("#addnew").click(function (){
        localStorage.setItem("categoryid",{{catID}})
    })
</script>
{{/section}}