{{#section 'js'}}
    <script>
        var options1 = [{
            "value": "0,0",
            "text": "Tất cả"
        }, {
            "value": "500000000 - 800000000",
            "text": "500.000.000 - 800.000.000 "
        }, {
            "value": "1000000000 - 2000000000",
            "text": "1.000.000.000 - 2.000.000.000"
        }, {
            "value": "3000000000 - 5000000000",
            "text": "3000.000.000 - 5.000.000.000"
        }, {
            "value": "7000000000 - 10000000000",
            "text": "7.000.000.000 - 10.000.000.000"
        }, {
            "value": "30000000000 - 0",
            "text": "30.000.000.000 +"
        }]
    </script>
{{/section}}
<!-- ======= Property Search Section ======= -->
<div class="click-closed"></div>
<!--/ Form Search Star /-->
<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Tìm kiếm</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a" method="get" action="/tim-kiem">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label class="pb-2" for="Type">Keyword</label>
                        <input type="text" name="keyword" class="form-control form-control-lg form-control-a"
                               placeholder="Keyword">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="Type">Loại</label>
                        <select class="form-control form-select form-control-a" name="type_" id="Type">
                            <option>Tất cả</option>
                            <option value="1">Mua bán</option>
                            <option value="2">Thuê</option>
                            <option value="3">Dự án</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="city">Quận</label>
                        <select class="form-control form-select form-control-a" name="ward" id="city">
                            <option>Tất cả</option>
                            <option>Quận 1</option>
                            <option>Quận 2</option>
                            <option>Quận 3</option>
                            <option>Quận 4</option>
                            <option>Quận 5</option>
                            <option>Quận 6</option>
                            <option>Quận 7</option>
                            <option>Quận 8</option>
                            <option>Quận 9</option>
                            <option>Quận 10</option>
                            <option>Quận 11</option>
                            <option>Quận 12</option>
                            <option>Quận Phú Nhuận</option>
                            <option>Quận Bình Thạnh</option>
                            <option>Quận Tân Phú</option>
                            <option>Quận Tân Bình</option>
                            <option>Quận Gò Vấp</option>
                            <option>Thành Phố Thủ Đức</option>
                            <option>Huyện Bình Chánh</option>
                            <option>Huyện Cần Giờ</option>
                            <option>Huyện Nhà Bè</option>
                            <option>Huyện Củ Chi</option>
                            <option>Huyện Hóc Môn</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="bedrooms">Phòng ngủ</label>
                        <select name="bedroom" class="form-control form-select form-control-a" id="bedrooms">
                            <option>Nhiều</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="bathrooms">Phòng tắm</label>
                        <select name="bathroom" class="form-control form-select form-control-a" id="bathrooms">
                            <option>Nhiều</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group mt-3">
                        <label class="pb-2" for="price">Mức giá</label>
                        <select class="form-control form-select form-control-a" name="price" id="price">
                            <option value="0 - 100000000000">Tất cả</option>
                            <option value="0 - 500000000">Dưới 500 triệu</option>
                            <option value="500000000 - 2000000000">500 triệu - 2 tỷ</option>
                            <option value="2000000000 - 3000000000">2 tỷ - 3 tỷ</option>
                            <option value="3000000000 - 5000000000">3 tỷ - 5 tỷ</option>
                            <option value="5000000000 - 7000000000">5 tỷ - 7 tỷ</option>
                            <option value="7000000000 - 10000000000">7 tỷ - 10 tỷ</option>
                            <option value="10000000000 - 30000000000">10 tỷ - 30 tỷ</option>
                            <option value="30000000000 - 100000000000">Trên 30 tỷ</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- End Property Search Section -->
<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="btn-grad btn-position-grad">
        <span class="btn-text-position-grad">
            Mới
        </span>
    </div>
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
                aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/">
            <div style="position: absolute;left: 0px;top:5px">
                <img src="/public/assets/estate/realestate.png" id="rcorners3" alt="" width="80px" height="80px">

            </div>
        </a>
        <a class="navbar-brand text-brand" href="/">Estate<span class="color-b"> Market</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                {{#each category}}
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/{{this.calling}}">{{name}}</a>
                        <div class="dropdown-menu">
                            {{#each nameChild}}
                                {{#if (equal this.parentID ../this.id)}}
                                    <a class="dropdown-item "
                                       href="/{{../this.calling}}/{{this.catID}}">{{this.name}}</a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </li>
                {{/each}}
                <li class="nav-item">
                    <a class="nav-link " href="/du-an">Dự án</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xem thêm</a>
                    <div class="dropdown-menu">
                        {{#each catSeemore}}
                            {{#if (equal this.name "Tin tức")}}
                                <a class="dropdown-item " href="/tin-tuc">{{this.name}}</a>
                            {{else}}
                                <a class="dropdown-item " href="#">{{this.name}}</a>
                            {{/if}}
                        {{/each}}
                        <a class="dropdown-item " href="agent-single.html">Về chúng tôi</a>
                    </div>
                </li>

                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/user/profile">
                            Chào, {{user.firstName}}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="/user/profile">Profile</a>
                            {{#if (checkAdmin user.permissions)}}
                                <a class="dropdown-item " href="/admin">Di chuyển về admin</a>
                            {{/if}}
                            {{#if (checkProJect user.permissions)}}
                                <a class="dropdown-item " href="/admin">Di chuyển về dự án</a>
                            {{/if}}
                            <form method="POST" action="/authen/logout">
                                <button class="dropdown-item ">Log out</button>
                            </form>
                        </div>
                    </li>
                {{else}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/authen/login" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đăng nhập</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item " href="/authen/login">Đăng nhập</a>
                            <a class="dropdown-item " href="/authen/register">Đăng ký</a>
                        </div>
                    </li>
                {{/if}}
            </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01">
            <i class="bi bi-search"></i>
        </button>
    </div>
</nav><!-- End Header/Navbar -->