

<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>


    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="img" style="background-image: url('{{user.avatar}}')"> </div>
                    <span class="name">{{user.name}} </span>
                </a>
            </li>
        </ul>
    </div>
</header>
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand" style="background-color: gre">
                <div class="logo">
                    <span class="l l1"></span>
                    <span class="l l2"></span>
                    <span class="l l3"></span>
                    <span class="l l4"></span>
                    <span class="l l5"></span>
                </div>
                <a class="navbar-brand text-brand" href="/">Estate<span class="color-b"> Market</span></a>
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li id="dashboard" >
                    <a href="/">
                        <i class="fa fa-home"></i> Dashboard </a>
                </li>
                {{#if (checkAdmin user.permissions)}}
                <li id="managementProduct" >
                    <a href="#">
                        <i class="fa fa-th-large">
                        </i> Quản lí sản phẩm
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        {{#each category}}
                            <li>
                                <a href="/admin/{{this.calling}}">
                                    <i class="fa fa-th-large">
                                    </i> {{name}}
                                    <i class="fa arrow"></i>
                                </a>
                                {{#each nameChild}}
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="/admin/san-pham/{{../this.calling}}/{{this.catID}}" id="adminProduct"> {{this.name}} </a>
                                        </li>
                                    </ul>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-area-chart"></i> Quản lí danh mục
                        &nbsp;&nbsp; &nbsp;
                        <i class="fa fa-plus" aria-hidden="true"  data-toggle="modal" data-target="#addCategory"></i>
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        {{#each category}}
                            <li>
                                <a href="/admin/danh-muc/{{this.calling}}/{{this.id}}">
                                    {{name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <a href="/admin/quan-li-tai-khoan">
                        <i class="fa fa-pencil-square-o"></i> Quản lí tài khoản
                    </a>
                </li>
                    {{/if}}
                {{#if (checkProJect user.permissions)}}
                    <li>
                        <a href="/admin/san-pham/du-an/15">
                            <i class="fa fa-desktop" ></i> Quản lí dự án
                        </a>
                    </li>
                    <li>
                        <a href="/admin/san-pham/tin-tuc/16">
                            <i class="fa fa-file-text-o" ></i> Quản lí tin tức
                        </a>
                    </li>
                {{/if}}



                <!--<li>
                    <a href="#">
                        <i class="fa fa-sitemap"></i> Menu Levels
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="#"> Second Level Item
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="#"> Third Level Item </a>
                                </li>
                                <li>
                                    <a href="#"> Third Level Item </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"> Second Level Item </a>
                        </li>
                        <li>
                            <a href="#"> Second Level Item
                                <i class="fa arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="#"> Third Level Item </a>
                                </li>
                                <li>
                                    <a href="#"> Third Level Item </a>
                                </li>
                                <li>
                                    <a href="#"> Third Level Item
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li>
                                            <a href="#"> Fourth Level Item </a>
                                        </li>
                                        <li>
                                            <a href="#"> Fourth Level Item </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="screenful.html">
                        <i class="fa fa-bar-chart"></i> Agile Metrics
                        <span class="label label-screenful">by Screenful</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/modularcode/modular-admin-html">
                        <i class="fa fa-github-alt"></i> Theme Docs </a>
                </li>
            </ul>-->
        </nav>
    </div>
    <footer class="sidebar-footer">
        <ul class="sidebar-menu metismenu" id="customize-menu">
            <li>
                <ul>
                    <li class="customize">
                        <div class="customize-item">
                            <div class="row customize-header">
                                <div class="col-4"> </div>
                                <div class="col-4">
                                    <label class="title">fixed</label>
                                </div>
                                <div class="col-4">
                                    <label class="title">static</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Sidebar:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Header:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Footer:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="customize-item">
                            <ul class="customize-colors">
                                <li>
                                    <span class="color-item color-red" data-theme="red"></span>
                                </li>
                                <li>
                                    <span class="color-item color-orange" data-theme="orange"></span>
                                </li>
                                <li>
                                    <span class="color-item color-green active" data-theme=""></span>
                                </li>
                                <li>
                                    <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                </li>
                                <li>
                                    <span class="color-item color-blue" data-theme="blue"></span>
                                </li>
                                <li>
                                    <span class="color-item color-purple" data-theme="purple"></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a href="#">
                    <i class="fa fa-cog"></i> Customize </a>
            </li>
        </ul>
    </footer>
</aside>
<div class="modal fade" id="addCategory">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-opera"></i> Thêm danh mục cha</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control boxed rounded-s" style="width: 400px" placeholder="Tên danh mục...">
                        <span class="input-group-btn align-content-center">
                            <button class="btn btn-secondary  rounded-s" data-dismiss="modal" type="button">
                                Hủy bỏ
                            </button>
                            <button class="btn btn-primary rounded-s" data-dismiss="modal" type="button">
                                Thêm
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>