<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single" id="proTitle">Đăng sản phẩm</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="../">Sản phẩm</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/public/assets/img/post-single-1.jpg" class="d-block w-100" id="image1"  style="width: 516px;height: 500px"alt="Hình ảnh 1">
                                    <div style="display: flex; justify-content: center;flex-direction: row">
                                    <button class="btn btn-b"  name="uploadimage1"  id="uploadimage1">Upload ảnh này</button>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/public/assets/img/post-single-1.jpg" class="d-block w-100" id="image2"  style="width: 516px;height: 500px" alt="Hình ảnh 1">
                                    <div style="display: flex; justify-content: center;flex-direction: row">
                                    <button class="btn btn-b" name="uploadimage2" id="uploadimage2">Upload ảnh này</button>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="/public/assets/img/post-single-1.jpg"  class="d-block w-100" id="image3"  style="width: 516px;height: 500px"alt="Hình ảnh 1">
                                    <div style="display: flex; justify-content: center;flex-direction: row">
                                    <button  class="btn btn-b" name="uploadimage3" id="uploadimage3">Upload ảnh này</button>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <!--<div id="property-single-carousel" class="swiper">
                            <div class="swiper-wrapper">
                                <div class="carousel-item-b swiper-slide">
                                    <img id="image1" style="width: 400px;height: 300px;object-fit: cover"  alt="Hình ảnh 1"href=" " >
                                    <button class="btn btn-b"  name="uploadimage1"  id="uploadimage1">Upload ảnh này</button>
                                </div>
                                <div class="carousel-item-b swiper-slide">
                                    <img id="image2" style="width: 400px;height: 300px;object-fit: cover" alt="Hình ảnh 2"href=" " >
                                    <button class="btn btn-b" name="uploadimage2" id="uploadimage2">Upload ảnh này</button>
                                </div>
                                <div   class="carousel-item-b swiper-slide">
                                    <img  id="image3" style="width: 400px;height: 300px;object-fit: cover" alt="Hình ảnh 3"href=" ">
                                    <button  class="btn btn-b" name="uploadimage3" id="uploadimage3">Upload ảnh này</button>
                                </div>
                            </div>
                        </div>-->
                        <div class="property-single-carousel-pagination carousel-pagination">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="display: flex; flex-direction: row; justify-content: center">
                <form method="post" action="/checkout/{{id}}">
                <button  id="post"   class="btn btn-b">Bấm để thanh toán sản phẩm</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="imagemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-pencil"></i> &nbsp;Chỉnh sửa hình ảnh</h4>
                <button type="button" id="closebtn" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  method="post" enctype="multipart/form-data">
            <div class="modal-body" >
                <div class="form-group row">
                    <label class="control-label">Select File</label>
                    <input id="image" name="image" type="file" >
                </div>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-check"></i> &nbsp;Thông tin sản phẩm</h4>
                <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex;flex-direction: row;justify-content: center">
                <p>Đã Đăng sản phẩm thành công</p>
            </div>
            <!<div class="modal-footer" style="display: flex;flex-direction: row;justify-content: center">
                 <button type="button" id="submitpost" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
             </div>
        </div>
    </div>
</div>




{{#section 'css'}}
    <link rel="stylesheet" href="/public/assets/modal/successfully.css">
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}
{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/p1fwo21pu5sn0tp0vy4twc8487p3m1at2uussi5efjxyyylq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/themes/fa/theme.min.js" integrity="sha512-ywJxJU8HX2ZyXikj/iM4gW2vWIhnGCjfehz9kMU0oqo0GDdr3w8E2E3DZlzgIBTNKU8jovkg09pWktiw0mOFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/js/locales/vi.min.js" integrity="sha512-Uq/oCjgDVhP8yiVZWU3F+XZcIwdIeMCgP43VG/Q/V3rqlhdpLS16CRknPqjKo4WUUM606zVchpiJuIkMJbQp7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            function myGreeting(){
                location.href="/"
            }
           /* $("#post").click(function (){
                $("#success-modal").modal('show');
                const myTimeout = setTimeout(myGreeting, 5000);
            })
            $("#submitpost").click(function (){
                location.href="/"
            });*/
            $("#image").fileinput({
                overwriteInitial: false,
                validateInitialCount: true,
                initialPreviewAsData: true,
                previewFileType: "image",
                browseClass: "btn btn-success",
                browseLabel: "Chọn hình",
                browseIcon: "<i class=\"bi-file-image\"></i> ",
                removeClass: "btn btn-danger",
                removeLabel: "Xóa",
                removeIcon: "<i class=\"bi-trash\"></i> ",
                uploadClass: "btn btn-info",
                uploadLabel: "Upload hình",
                uploadIcon: "<i class=\"bi-upload\"></i> ",
                initialPreviewConfig: [
                    {caption: $("#image").attr('id'), description: 'This is a representative placeholder description for this image.', size: 576237, width: "120px", url: "/public/assets/estate/1/1/5/1.jpg", key: 1},
                ],
                uploadUrl: "/user/post-product/upload/{{id}}",
                theme:'fa',
                language:'vi',
                allowedFileExtensions:['jpg'],
            }).on('fileuploaded', function(e, params) {
                console.log("heso"+params.response.detail+" "+params.response.position);
                if(params.response.position==='1'){
                    console.log(params.response.detail);
                    $.ajax({
                        async:false,
                        type:"POST",
                        url:"/user/geturl",
                        data:{url:params.response.detail,id:"image1"},
                        success:function (data){
                            $("#image1").replaceWith(data)
                        },
                        err:function (xhr,ajaxOptions,thrownError){
                            alert("Lỗi")
                        }
                    })
                }
                else if(params.response.position==='2'){
                    console.log(params.response.detail);

                    $.ajax({
                        async:false,
                        type:"POST",
                        url:"/user/geturl",
                        data:{url:params.response.detail,id:"image2"},
                        success:function (data){
                            $("#image2").replaceWith(data)
                        },
                        err:function (xhr,ajaxOptions,thrownError){
                            alert("Lỗi")
                        }
                    })
                }
                else if(params.response.position==='3'){
                    console.log(params.response.detail);
                    $.ajax({
                        async:false,
                        type:"POST",
                        url:"/user/geturl",
                        data:{url:params.response.detail,id:"image3"},
                        success:function (data){
                            $("#image3").replaceWith(data)
                        },
                        err:function (xhr,ajaxOptions,thrownError){
                            alert("Lỗi")
                        }
                    })
                }
            });
        });
        $("#saveImage").click(function (){
            location.reload();
        })

        $("#cancelUploadImage").click(function (){
            $('#imagemodal').modal('hide');
        });
        $("#closebtn").click(function (){
            $('#imagemodal').modal('hide');
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#uploadimage1").click(function () {

                $.post("/user/product/url", {
                    parent:{{parent}},
                    id:{{id}},
                    category:{{category}},
                    data:{{url}},
                    name: "1.jpg"
                }, function (data, status) {
                    if (data) {
                        $('#imagemodal').modal('show');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#uploadimage2").click(function () {
                console.log("hello")
                $.post("/user/product/url", {
                    parent:{{parent}},
                    id:{{id}},
                    category:{{category}},
                    data:{{url}},
                    name: "2.jpg"
                }, function (data, status) {
                    if (data) {
                        $('#imagemodal').modal('show');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#uploadimage3").click(function () {
                console.log("hello")
                $.post("/user/product/url", {
                    parent:{{parent}},
                    id:{{id}},
                    category:{{category}},
                    data:{{url}},
                    name: "3.jpg"
                }, function (data, status) {
                    if (data) {
                        $('#imagemodal').modal('show');
                    }
                });
            });
        });
    </script>

{{/section}}



