<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single"></h1>
                    <span class="color-text-a"> {{profile.name}}</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Profile</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{profile.name}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single -->

<!-- ======= Agent Single ======= -->
<section class="agent-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="agent-avatar-box">
                            <img src="/public/assets/estate/4/16/1/1.jpg" alt="" class="agent-avatar img-fluid">
                        </div>
                    </div>
                    <div class="col-md-5 section-md-t3">
                        <div class="agent-info-box">
                            <div class="agent-title">
                                <div class="title-box-d">
                                    <h3 class="title-d"> {{profile.name}}
                                    </h3>
                                </div>
                            </div>
                            <div class="agent-content mb-3">
                                <div class="info-agents color-a">
                                    <p>
                                        <strong>Số điện thoại: </strong>
                                        <span class="color-text-a"> 0909884164 </span>
                                    </p>
                                    <p>
                                        <strong>Email: </strong>
                                        <span class="color-text-a"> {{profile.email}}</span>
                                    </p>
                                    {{#if (checkBLock profile.permissions)}}
                                        <form method="get" action="/user/product/post-product">
                                            <p>
                                                <button class="btn btn-b"  >Đăng sản phẩm</button>
                                            </p>
                                        </form>
                                    {{else}}
                                            <p>
                                                <button class="btn btn-b" disabled >Không thể đăng sản phẩm</button>
                                            </p>
                                    {{/if}}

                                </div>
                            </div>
                            <div class="socials-footer">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="bi bi-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="bi bi-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="bi bi-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="link-one">
                                            <i class="bi bi-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="title-box-d">
                    <h3 class="title-d">Sản phẩm ({{total.total}})</h3>
                </div>
            </div>
            <div class="row property-grid grid">
                <div class="col-sm-12">
                    <div class="grid-option">
                        <form>
                            <div class="input-group mb-3">
                                <input type="text" name="keyword" style="height: 50%;width: 50%" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                                    <button type="button" class="btn btn-b-n ">
                                <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                {{#each listProduct}}
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img style="width: 400px;height: 300px;object-fit: cover" src="{{this.image}}" alt="{{this.title}}" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="/{{this.calling}}/{{this.category}}/{{this.proid}}">{{this.title}}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{this.current}}</span>
                                        </div>
                                        <a href="/{{this.calling}}/{{this.category}}/{{this.proid}}" class="link-a">Click here to view
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>{{this.acreage}}
                                                    <sup>2</sup></span>
                                            </li>
                                            <li>
                                                <form method="get" action="/user/product/edit-product/{{this.proid}}">
                                                <button  class="btn btn-b-n" >
                                                    <i class="fa fa-pencil"></i> Sửa sản phẩm
                                                </button>
                                                </form>
                                            </li>
                                            <li>
                                                <button id="removeproduct" name="{{this.proid}}" class=" btn btn-b-n fa fa-trash"></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
</main>





<div class="modal fade" id="cofirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa sản phẩm này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" id="cofirmremove" class="btn btn-b-n">Xác nhận</button>
            </div>
        </div>
    </div>
</div>




<div class="position-fixed bottom-0 end-0 p-3" id="toast" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/public/assets/estate/realestate.png" style="width: 30px;height: 30px" class="rounded me-2" alt="...">
            <strong class="me-auto">Thông tin sản phẩm</strong>
            <small>Hiện tại</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Xóa sản phẩm thành công. Vui lòng đợi ít phút để tải lại
        </div>
    </div>
</div>

{{#section 'js'}}
        <script type="text/javascript">

            let a=0;
            $('[id="removeproduct"]').click(function (){
                    $("#cofirm-modal").modal('show');
                    a=$(this).attr('name');

                });

            $('[id="cofirmremove"]').click(function (){
                console.log(a)
                $.post("/user/product/remove-product",{proid:a},function (data,status){
                    if(data){
                        console.log(data);
                        $("#cofirm-modal").modal('hide');
                        $("#liveToast").toast('show');
                        const myTimeout = setTimeout(function (){
                            location.reload();
                        }, 3000);

                    }
                });
            })
        </script>
{{/section}}



