{{#section 'css'}}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/public/assets/modal/successfully.css">
    <link rel="stylesheet" href="/public/assets/css/rating.css">
{{/section}}
{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('#txtDob').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            mask: true
        });
    </script>
    <script>
        function thisFileUpload() {
            document.getElementById("file").click();
            $("#file").change(function(e){
                $("#submitFile").submit()
            });
        };

    </script>
    <script>
        $("#txtDob").val("{{time userInfor.birthday}}");
    </script>
    <script>
        function element(totalPages, currentPage) {
            $.ajax({
                async: false,
                type: "GET",
                url: "/page/profile/{{userInfor.id}}/" + currentPage,
                success: function (data) {
                    $("#listProProfile").replaceWith(data)
                },
                err: function (xhr, ajaxOptions, thrownError) {
                    alert("Lỗi")
                }
            })
            const ulTag = document.querySelector("ul#pageUl")
            let liTag = ''
            let beforePages = currentPage - 1
            let afterPages = currentPage + 1
            let activeLi = ''
            if (totalPages <= 4) {
                for (let i = 1; i <= totalPages; i++) {
                    if (currentPage == i) activeLi = 'active'
                    else activeLi = ''
                    liTag += `<li class="page-item ${activeLi}" onclick="element(${totalPages},${i})">
                                <a class="page-link">${i}</a>
                            </li>`
                }
            } else {
                if (currentPage > 1) {
                    liTag += ` <li class="page-item" onclick="element(${totalPages},${currentPage - 1})">
                                <a class="page-link" tabindex="-1">
                                    <span class="bi bi-chevron-left"></span>
                                </a>
                            </li>`
                }
                if (currentPage > 2) {
                    liTag += `<li class="page-item" onclick="element(${totalPages},1)">
                                <a class="page-link">1</a>
                            </li>`
                    if (currentPage > 3) {
                        liTag += `<li class="page-item">
                                <a class="page-link">...</a>
                            </li>`
                    }
                }
                if (currentPage == totalPages) {
                    beforePages = beforePages - 2
                } else if (currentPage == totalPages - 1) {
                    beforePages = beforePages - 1
                }
                if (currentPage == 1) {
                    afterPages = afterPages + 2
                } else if (currentPage == 2) {
                    afterPages = afterPages + 1
                }
                for (let i = beforePages; i <= afterPages; i++) {
                    if (i > totalPages) continue
                    if (i == 0) i = i + 1
                    if (currentPage == i) activeLi = 'active'
                    else activeLi = ""
                    liTag += `<li class="page-item ${activeLi}" onclick="element(${totalPages},${i})">
                                <a class="page-link">${i}</a>
                            </li>`
                }
                if (currentPage < totalPages - 1) {
                    if (currentPage < totalPages - 2) {
                        liTag += `<li class="page-item">
                                <a class="page-link">...</a>
                            </li>`
                    }
                    liTag += `<li class="page-item" onclick="element(${totalPages},${totalPages})">
                                <a class="page-link">${totalPages}</a>
                            </li>`
                }
                if (currentPage < totalPages) {
                    liTag += ` <li class="page-item next" onclick="element(${totalPages},${currentPage + 1})">
                                <a class="page-link">
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </li>`
                }
            }
            ulTag.innerHTML = liTag
        }

        element({{totalOfPages}},{{currentPage}},{{userInfor.id}})
    </script>
    <script>
        $("input[class^='star'][type='radio']").on("click", function () {
            {{#if ratingscore}}
                {
                    const id = "star-" + "{{ratingscore}}"
                    document.getElementById(id).checked = "true"
                    $("#toast_nn").toast("show")
                }
            {{else}}
                if (document.getElementById("custId").value != 0) {
                    const id = "star-" + document.getElementById("custId").value
                    document.getElementById(id).checked = "true"
                    $("#toast_nn").toast("show")
                } else {
                    const email="{{userInfor.email}}"
                    const value = $("input[class^='star'][type='radio']:checked").val()
                    $("#reviewuser").modal("show")
                    $("#btnReview").on("click",function (){
                        const msg=$("#review-msg").val()
                        $("#reviewuser").modal("hide")
                        $.ajax({
                            async: false,
                            type: "POST",
                            url: "/ratinguser",
                            data: {email,value,msg},
                            contentType: 'application/x-www-form-urlencoded',
                            dataType: 'html',
                            success: function (data) {
                                const spl=data.split(',')
                                const id = "star-" + spl[0]
                                document.getElementById("score").innerHTML=spl[1]
                                document.getElementById(id).checked = "true"
                                document.getElementById("custId").value = data
                                $("#toast_ss").toast("show")
                            },
                            err: function (xhr, ajaxOptions, thrownError) {
                                alert("Lỗi")
                            }
                        })
                    })
                }

            {{/if}}
        })
    </script>
    <script>
            {{#if ratingscore}}
            function checkedRadio() {
                const id = "star-" + "{{ratingscore}}"
                document.getElementById(id).checked = "true"
            }
            checkedRadio()
            {{/if}}
    </script>
    <script>
        function get(id) {
            {{#each proList}}
                var x1={{this.id}}
                if (x1==id){
                    $.post("/user/product/remove-product",{proid:id},function (data,status){
                        if(data){
                            $("#change-"+id).modal('hide');
                            $("#liveToast").toast('show');
                            const myTimeout = setTimeout(function (){
                                location.reload();
                            }, 3000);

                        }
                    });
                }
            {{/each}}
        }
    </script>

{{/section}}
<main id="main">
    <section class="intro-single">
        <div class="modal fade" id="reviewuser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Báo cáo người bán</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Nội dung báo cáo:</label>
                                <textarea rows="5" class="form-control" id="review-msg"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button id="btnReview" type="button" class="btn btn-primary">Đánh giá</button>
                    </div>
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: relative;width: 300px;">
            <div class="toast" id="toast_ss" style="position: absolute; bottom: 0px; right: 0;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                </div>
                <div class="toast-body">
                    <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                    Bạn vừa đánh giá thành công
                </div>
            </div>
        </div>
        <div aria-live="polite" aria-atomic="true" style="position: relative">
            <div class="toast" id="toast_nn" style="position: absolute; top: 50px; right: 0;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                </div>
                <div class="toast-body">
                    <i class="fa fa-ban" style="color: red" aria-hidden="true"></i>
                    Bạn đã đánh giá rồi
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Hi, {{firstName}}</h1>
                        <span class="color-text-a">Người dùng</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{userInfor.name}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="agent-avatar-box">
                                <img src="{{userInfor.avatar}}" style="object-fit: cover" width="500px" height="500px" alt="" class="agent-avatar img-fluid">
                            </div>
                        </div>
                        <div class="col-md-5 section-md-t3">
                            <div class="agent-info-box">
                                <div class="agent-title">
                                    <div class="title-box-d">
                                        <h3 class="title-d">{{userInfor.name}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="agent-content mb-3">
                                    <div class="info-agents color-a">
                                        <p>
                                            <strong>Họ tên: </strong>
                                            <span class="color-text-a">{{userInfor.name}} </span>
                                        </p>
                                        <p>
                                            <strong>Email: </strong>
                                            <span class="color-text-a">{{userInfor.email}}</span>
                                        </p>
                                        <p>
                                            <strong>Số điện thoại: </strong>
                                            <span class="color-text-a"> {{userInfor.phone}}</span>
                                        </p>
                                        <p>
                                            <strong>Địa chỉ: </strong>
                                            <span class="color-text-a"> {{userInfor.address}}</span>
                                        </p>
                                        <p>
                                            <strong>Ngày sinh: </strong>
                                            <span class="color-text-a"> {{time userInfor.birthday}}</span>
                                        </p>
                                        <p>
                                            <strong>Điểm đánh giá: </strong>
                                            <span id="score" class="color-text-a"> {{userInfor.ratingscore}}</span>
                                        </p>
                                        <p>
                                        {{#if (equal user.id userInfor.id)}}
                                            <form method="get" action="/user/product/post-product">
                                                <p>
                                                    <button class="btn btn-b">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                                        Đăng sản phẩm
                                                    </button>
                                                </p>
                                            </form>
                                        {{/if}}

                                        </p>
                                    </div>
                                </div>
                                <div class="socials-footer">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="bi bi-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="bi bi-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="bi bi-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="link-one">
                                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {{#if (equal user.id userInfor.id)}}
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Cập nhật thông tin
                                    </button>
                                    <button type="button" onclick="thisFileUpload();" class="btn btn-info">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Thay đổi ảnh đại diện
                                    </button>
                                    <form id="submitFile" action="/user/post-product/avatar/{{userInfor.id}}" enctype="multipart/form-data" method="POST">
                                        <input id="file" type="file" name="avatar" accept=".jpg,.png" style="display: none"/>
                                    </form>
                                {{else}}
<!--                                    star voting-->
                                    {{#if notSeller}}
                                        {{#if user}}
                                            <div class="container" style="padding: 0">
                                                <div class="row">
                                                    <div class="col-md-12" style="margin: 0;padding: 0">
                                                        <div class="stars" id="stars_space" style="display: flex;justify-content: flex-start">
                                                            <form action="">
                                                                <input value="4" class="star star-4 disabled" id="star-4" type="radio"
                                                                       name="star"/>
                                                                <label class="star star-4" id="start-4_" for="star-4"></label>
                                                                <input value="3" class="star star-3" id="star-3" type="radio"
                                                                       name="star"/>
                                                                <label class="star star-3" id="start-3_" for="star-3"></label>
                                                                <input value="2" class="star star-2" id="star-2" type="radio"
                                                                       name="star"/>
                                                                <label class="star star-2" id="start-2_" for="star-2"></label>
                                                                <input value="1" class="star star-1" id="star-1" type="radio"
                                                                       name="star"/>
                                                                <label class="star star-1" id="start-1_" for="star-1"></label>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}

                                {{#if updateSuccess}}
                                    <div style="margin-top: 10px" class="alert alert-success" role="alert">
                                       {{updateSuccess}}
                                    </div>
                                {{/if}}
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="/user/updateprofile" method="post">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin
                                                        <span style="color: #5c636a">{{userInfor.email}}</span></h5>
                                                    <input type="text" name="email" hidden value="{{userInfor.email}}">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="mb-3 col-6">
                                                            <label for="recipient-name"
                                                                   class="col-form-label">Tên:</label>
                                                            <input type="text" class="form-control" name="name"
                                                                   value="{{userInfor.name}}" id="txtName">
                                                        </div>
                                                        <div class="mb-3 col-6">
                                                            <label for="recipient-name" class="col-form-label">Số điện
                                                                thoại</label>
                                                            <input type="text" class="form-control" name="phone"
                                                                   value="{{userInfor.phone}}" id="txtPhone">
                                                        </div>
                                                        <div class="mb-3 col-6">
                                                            <label for="recipient-name" class="col-form-label">Địa
                                                                chỉ:</label>
                                                            <input type="text" class="form-control" name="address"
                                                                   value="{{userInfor.address}}" id="txtAddress">
                                                        </div>
                                                        <div class="mb-3 col-6">
                                                            <label for="recipient-name" class="col-form-label">Ngày
                                                                sinh:</label>
                                                            <input type="text" class="form-control" name="birthday"
                                                                   id="txtDob">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Hủy
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="title-box-d">
                    <h3 class="title-d">Sản phẩm đã đăng ({{totalPro}})</h3>
                </div>
            </div>
            {{#if (equal user.id userInfor.id)}}
                <div id="listProProfile" class="row property-grid grid">
                </div>
            {{else}}
                <div class="row property-grid grid">
                    {{#each listPro}}
                        <div class="modal fade" id="change-{{this.estateid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông tin sản phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>


                                </div>
                            </div>
                        </div>    <!-- ======= Intro Single ======= -->

                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="{{this.image}}" style="width: 400px;height: 300px;object-fit: cover"
                                         alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="/{{this.calling}}/{{this.category}}/{{this.estateid}}">{{this.title}}</a>
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">{{this.current}}</span>
                                            </div>
                                            <a href="/{{this.calling}}/{{this.category}}/{{this.estateid}}" class="link-a">Click here to view
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Area</h4>
                                                    <span>{{this.acreage}}
                                                        <sup>2</sup></span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Beds</h4>
                                                    <span>{{this.bedroom}}</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Baths</h4>
                                                    <span>{{this.bathroom}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>

            {{/if}}
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul id="pageUl" class="pagination justify-content-end">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        </div>
        <input type="hidden" id="custId" name="custId" value="0">
        <div class="position-fixed bottom-0 end-0 p-3" id="toast" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/public/assets/estate/realestate.png" style="width: 30px;height: 30px" class="rounded me-2" alt="...">
                    <strong class="me-auto">Thông tin sản phẩm</strong>
                    <small>Hiện tại</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Xóa sản phẩm thành công. Vui lòng đợi ít phút để tải lại
                </div>
            </div>
        </div>
    </section><!-- End Agent Single -->

</main><!-- End #main -->
