<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{pro.title}}</h1>
                    <span class="color-text-a">{{pro.name}}</span>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="../">Dự án</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           {{pro.proid}}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <div id="property-single-carousel" class="swiper">
                        <div class="swiper-wrapper">
                            <div class="carousel-item-b swiper-slide">
                                <img src="{{pro.image1}}" alt="Responsive image" class="img-fluid rounded mx-auto d-block w-100 p-3" class="img-b img-fluid" style="object-fit: cover">
                            </div>
                            <div class="carousel-item-b swiper-slide">
                                <img src="{{pro.image2}}"alt="Responsive image" class="img-fluid rounded mx-auto d-block w-100 p-3" class="img-b img-fluid" style="object-fit: cover">
                            </div>
                            <div class="carousel-item-b swiper-slide">
                                <img src="{{pro.image3}}"alt="Responsive image" class="img-fluid rounded mx-auto d-block w-100 p-3" class="img-b img-fluid" style="object-fit: cover">
                            </div>
                        </div>
                    </div>
                    <div class="property-single-carousel-pagination carousel-pagination"></div>
                </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="post-information">
                    <ul class="list-inline text-center color-a">
                        <li class="list-inline-item mr-2">
                            <strong>Vị trí: </strong>
                            <span class="color-text-a">{{pro.ward}}</span>
                        </li>
                        <li class="list-inline-item mr-2">
                            <strong>Loại </strong>
                            <span class="color-text-a">{{pro.name}}</span>
                        </li>
                        <li class="list-inline-item">
                            <strong>Ngày: </strong>
                            <span class="color-text-a">{{time pro.start}}</span>
                        </li>
                    </ul>
                </div>
                <div class="post-content color-text-a">
                    <p>
                        {{{pro.des}}}
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>