<section class="property-grid grid" id="section-pro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    <form>
                        <select class="custom-select">
                            <option selected>All</option>
                            <option value="1">New to Old</option>
                            <option value="2">For Rent</option>
                            <option value="3">For Sale</option>
                        </select>
                    </form>
                </div>
            </div>
            {{#each productByCatID}}
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a" >
                            <img style="width: 400px;height: 300px;object-fit: cover" src="{{image}}" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a" style="font-size: 20px">
                                        <a href="/{{calling}}/{{category}}/{{id}}">{{title}}</a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">{{current}}</span>
                                    </div>
                                    <a href="/{{calling}}/{{category}}/{{id}}" class="link-a">Click here to view
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Area</h4>
                                            <span>{{acreage}}
                                                <sup>2</sup>
                        </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Beds</h4>
                                            <span>{{bedroom}}</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Baths</h4>
                                            <span>{{bathroom}}</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {{/each}}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav class="pagination-a">
                    <ul id="pageUl" class="pagination justify-content-end">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Property Grid Single-->
