{{#section 'css'}}
    <link rel="stylesheet" href="/public/assets/modal/successfully.css">
    <link rel="stylesheet" href="/public/assets/css/rating.css">
{{/section}}
{{#section 'js'}}
    <script>
        function approveSending(e) {
            const name = document.getElementById("inputName").value
            const email = document.getElementById("inputEmail").value
            const message = document.getElementById("textMessage").value
            const title = document.getElementById("proTitle").textContent
            const price = document.getElementById("proPrice").textContent
            const ward = document.getElementById("proWard").textContent
            const id = document.getElementById("proID").textContent
            const type = document.getElementById("proName").textContent
            const state = document.getElementById("proSta").textContent
            const acreage = document.getElementById("proAcreage").textContent
            const bed = document.getElementById("proBed").textContent
            const bath = document.getElementById("proBath").textContent
            const seller = document.getElementById("proSeller").textContent
            $.ajax({
                async: false,
                type: "POST",
                url: "/mailer",
                data: {
                    name, email, message, title, price, ward,
                    id, type, state, acreage, bed, bath, seller
                },
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'html',
                success: function (data) {
                    $("#ignismyModal").modal('show');
                    document.getElementById("inputName").value = ""
                    document.getElementById("inputEmail").value = ""
                    document.getElementById("textMessage").value = ""
                },
                err: function (xhr, ajaxOptions, thrownError) {
                    alert("Lỗi")
                }
            })
        }
    </script>
    <script>
        $("#sendMsg").click(function () {
            $("#fulfill").modal("hide")
            const name = document.getElementById("inputNameUser").value
            const email = document.getElementById("inputEmailUser").value
            const message = document.getElementById("message-text").value
            const title = document.getElementById("proTitle").textContent
            const price = document.getElementById("proPrice").textContent
            const ward = document.getElementById("proWard").textContent
            const id = document.getElementById("proID").textContent
            const type = document.getElementById("proName").textContent
            const state = document.getElementById("proSta").textContent
            const acreage = document.getElementById("proAcreage").textContent
            const bed = document.getElementById("proBed").textContent
            const bath = document.getElementById("proBath").textContent
            const seller = document.getElementById("proSeller").textContent
            $.ajax({
                async: false,
                type: "POST",
                url: "/mailer",
                data: {
                    name, email, message, title, price, ward,
                    id, type, state, acreage, bed, bath, seller
                },
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'html',
                success: function (data) {
                    $("#ignismyModal").modal('show');
                    document.getElementById("inputName").value = ""
                    document.getElementById("inputEmail").value = ""
                    document.getElementById("textMessage").value = ""
                },
                err: function (xhr, ajaxOptions, thrownError) {
                    alert("Lỗi")
                }
            })
        })
    </script>
    <script>
        $("#cmtBtn").on("click", function () {
            if (document.getElementById("inputNameUser") != null && document.getElementById("inputEmailUser") != null) {
                const name = document.getElementById("inputNameUser").value
                const email = document.getElementById("inputEmailUser").value
                const message = document.getElementById("textMessageCmt").value
                const id = document.getElementById("proID").textContent
                $.ajax({
                    async: false,
                    type: "POST",
                    url: "/comment",
                    data: {name, email, message, id},
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'html',
                    success: function (data) {
                        document.getElementById("textMessageCmt").value = ""
                        $("#list-comments").replaceWith(data)
                    },
                    err: function (xhr, ajaxOptions, thrownError) {
                        alert("Lỗi")
                    }
                })
            } else {
                $("#modalLogin").modal("show")
            }
        })
    </script>
    <script>
        $("input[class^='star'][type='radio']").on("click", function () {
            {{#if ratingscore}}
                {
                    const id = "star-" + "{{ratingscore}}"
                    document.getElementById(id).checked = "true"
                    $("#toast_n").toast("show")
                }
            {{else}}
                if (document.getElementById("custId").value != 0) {
                    const id = "star-" + document.getElementById("custId").value
                    document.getElementById(id).checked = "true"
                    $("#toast_n").toast("show")
                } else {
                    const value = $("input[class^='star'][type='radio']:checked").val()
                    const id = document.getElementById("proID").textContent
                    const email = document.getElementById("inputEmailUser").value
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: "/ratingestate",
                        data: {value, id, email},
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'html',
                        success: function (data) {
                            const id = "star-" + data
                            document.getElementById(id).checked = "true"
                            document.getElementById("custId").value = data
                            $("#toast_s").toast("show")
                        },
                        err: function (xhr, ajaxOptions, thrownError) {
                            alert("Lỗi")
                        }
                    })
                }

            {{/if}}
        })
    </script>
    <script>
            {{#if ratingscore}}
            function checkedRadio() {
                const id = "star-" + "{{ratingscore}}"
                document.getElementById(id).checked = "true"
            }

            checkedRadio()
            {{/if}}
    </script>
{{/section}}
<main id="main">
    {{#with pro as | pro |}}
        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div aria-live="polite" aria-atomic="true" style="position: relative">
                <div class="toast" id="toast_s" style="position: absolute; top: 50px; right: 0;">
                    <div class="toast-header">
                        <strong class="mr-auto">Thông báo</strong>
                    </div>
                    <div class="toast-body">
                        <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
                        Bạn vừa đánh giá thành công
                    </div>
                </div>
            </div>
            <div aria-live="polite" aria-atomic="true" style="position: relative">
                <div class="toast" id="toast_n" style="position: absolute; top: 50px; right: 0;">
                    <div class="toast-header">
                        <strong class="mr-auto">Thông báo</strong>
                    </div>
                    <div class="toast-body">
                        <i class="fa fa-ban" style="color: red" aria-hidden="true"></i>
                        Bạn đã đánh giá rồi
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single" id="proTitle">{{pro.title}}</h1>
                            <span class="color-text-a">{{pro.ward}}</span>
                        </div>
                        {{#if ../user}}
                            <!--                                    star voting-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stars" id="stars_space">
                                            <form action="">
                                                <input value="4" class="star star-4 disabled" id="star-4" type="radio"
                                                       name="star"/>
                                                <label class="star star-4" id="start-4_" for="star-4"></label>
                                                <input value="3" class="star star-3" id="star-3" type="radio"
                                                       name="star"/>
                                                <label class="star star-3" id="start-3_" for="star-3"></label>
                                                <input value="2" class="star star-2" id="star-2" type="radio"
                                                       name="star"/>
                                                <label class="star star-2" id="start-2_" for="star-2"></label>
                                                <input value="1" class="star star-1" id="star-1" type="radio"
                                                       name="star"/>
                                                <label class="star star-1" id="start-1_" for="star-1"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="../">{{pro.name}}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{pro.proid}}
                                </li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= Property Single ======= -->
        <section class="property-single nav-arrow-b">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="property-single-carousel" class="swiper">
                            <div class="swiper-wrapper">
                                <div class="carousel-item-b swiper-slide">
                                    <img src="{{pro.image1}}" alt="">
                                </div>
                                <div class="carousel-item-b swiper-slide">
                                    <img src="{{pro.image2}}" alt="">
                                </div>
                                <div class="carousel-item-b swiper-slide">
                                    <img src="{{pro.image3}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="property-single-carousel-pagination carousel-pagination"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="row justify-content-between">
                            <div class="col-md-5 col-lg-4">
                                <div class="property-price d-flex justify-content-center foo">
                                    <div class="card-header-c d-flex">
                                        <div class="card-box-ico">
                                            <span class="bi bi-cash">$</span>
                                        </div>
                                        <div class="card-title-c align-self-center">
                                            <h5 class="title-c" id="proPrice">{{pro.current}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="title-box-d section-t4">
                                                <h3 class="title-d">Tổng hợp</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="summary-list">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <strong>Mã sản phẩm:</strong>
                                                <span id="proID">{{pro.proid}}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Địa chỉ:</strong>
                                                <span id="proWard">{{pro.ward}}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Loại:</strong>
                                                <span id="proName">{{pro.name}}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Trạng thái:</strong>
                                                <span id="proSta">Đang bán</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Diện tích:</strong>
                                                <span id="proAcreage">{{pro.acreage}}
                                                    <sup>2</sup>
                        </span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Phòng ngủ:</strong>
                                                <span id="proBed">{{pro.bedroom}}</span>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <strong>Phòng tắm:</strong>
                                                <span id="proBath">{{pro.bathroom}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-7 section-md-t3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d">
                                            <h3 class="title-d">Mô tả chi tiết</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="property-description">
                                    <p class="description color-text-a">
                                        {{{pro.des}}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 mt-5 offset-md-1">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-6">
                                    <h5>Thông tin chi tiết</h5>
                                    {{{pro.detail_description}}}
                                </div>
                                <div class="col-6">
                                    <h5>Thông tin khác</h5>
                                    {{{pro.other_detail}}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-10 offset-md-1">
                        <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-plans-tab" data-bs-toggle="pill"
                                   href="#pills-plans"
                                   role="tab" aria-controls="pills-plans" aria-selected="false">Bất động sản liên
                                    quan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-project-tab" data-bs-toggle="pill" href="#pills-project"
                                   role="tab" aria-controls="pills-project" aria-selected="false">Dự án</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-new-tab" data-bs-toggle="pill" href="#pills-new"
                                   role="tab" aria-controls="pills-new" aria-selected="false">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   role="tab" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map"
                                   aria-controls="pills-map" aria-selected="false">Xem trên bản đồ</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade" id="pills-map" role="tabpanel"
                                 aria-labelledby="pills-map-tab">
                                <div style="height: 400px;width: 100%" id="map"></div>
                            </div>
                            <div class="tab-pane fade show active" id="pills-plans" role="tabpanel"
                                 aria-labelledby="pills-plans-tab">
                                <div class="intro intro-carousel swiper position-relative">
                                    <div class="swiper-wrapper ">
                                        {{a}}
                                        {{#each ../listRelatedPro as | related |}}
                                            <div class="swiper-slide carousel-item-a intro-item bg-image"
                                                 style="background-image: url({{this.image}})">
                                                <div class="overlay overlay-a"></div>
                                                <div class="intro-content display-table">
                                                    <div class="table-cell">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-lg-8">
                                                                    <div class="intro-body">
                                                                        <p class="intro-title-top">{{related.ward}}
                                                                            <br> TPHCM
                                                                        </p>
                                                                        <h1 class="intro-title mb-4 ">
                                                                            <span class="color-b">{{related.title}}
                                                                                <br>{{related.acreage}}
                                                                                <sup>2</sup></span>
                                                                        </h1>
                                                                        <p class="intro-subtitle intro-price">
                                                                            {{#if (equal related.parentID 2)}}
                                                                                <a href="/nha-dat-cho-thue/{{related.category}}/{{related.id}}"><span
                                                                                        class="price-a">{{related.current}}</span></a>
                                                                            {{else}}
                                                                                <a href="/nha-dat-ban/{{related.category}}/{{related.id}}"><span
                                                                                        class="price-a">{{related.current}}</span></a>
                                                                            {{/if}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div><!-- End Intro Section -->
                            </div>


                            <div class="tab-pane fade" id="pills-project" role="tabpanel"
                                 aria-labelledby="pills-project-tab">
                                <div class="intro intro-carousel swiper position-relative">
                                    <div class="swiper-wrapper ">
                                        {{a}}
                                        {{#each ../listProjectPro as | project |}}
                                            <div class="swiper-slide carousel-item-a intro-item bg-image"
                                                 style="background-image: url({{project.image}})">
                                                <div class="overlay overlay-a"></div>
                                                <div class="intro-content display-table">
                                                    <div class="table-cell">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-lg-8">
                                                                    <div class="intro-body">
                                                                        <p class="intro-title-top">{{project.ward}}
                                                                            <br> TPHCM
                                                                        </p>
                                                                        <h1 class="intro-title mb-4 ">
                                                                            <span class="color-b">{{project.title}}
                                                                                <br>{{project.acreage}}
                                                                                <sup>2</sup></span>
                                                                        </h1>
                                                                        <p class="intro-subtitle intro-price">
                                                                            <a href="/du-an/{{project.id}}"><span
                                                                                    class="price-a">{{project.current}}</span></a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div><!-- End Intro Section -->
                            </div>


                            <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab">
                                <div class="intro intro-carousel swiper position-relative">
                                    <div class="swiper-wrapper ">
                                        {{a}}
                                        {{#each ../listNewPro as | new |}}
                                            <div class="swiper-slide carousel-item-a intro-item bg-image"
                                                 style="background-image: url({{new.image}})">
                                                <div class="overlay overlay-a"></div>
                                                <div class="intro-content display-table">
                                                    <div class="table-cell">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-lg-8">
                                                                    <div class="intro-body">
                                                                        <h1 class="intro-title-top">{{new.ward}}
                                                                        </h1>
                                                                        <h1 class="intro-title mb-4 ">
                                                                            <span class="color-b">{{new.title}}
                                                                                <br>{{new.acreage}} <sup>2</sup></span>
                                                                        </h1>
                                                                        <p class="intro-subtitle intro-price">
                                                                            <a href="/du-an/{{new.id}}"><span
                                                                                    class="price-a">Xem thêm</span></a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div><!-- End Intro Section -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row section-t3">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Thông tin liên lạc</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{#with ../userInfor}}
                                <div class="col-md-6 col-lg-4">
                                {{#if ../../user}}
                                    <a
                                            href="/user/profile/{{id}}">
                                        <img src="/public/assets/img/agent-4.jpg" alt="" class="img-fluid">
                                    </a>
                                {{else}}
                                    <img src="/public/assets/img/agent-4.jpg" alt="" class="img-fluid">
                                {{/if}}

                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="property-agent">
                                        <h4 class="title-agent">
                                            <a {{#if ../../user}} href="/user/profile/{{id}}" {{/if}}>{{name}}</a></h4>
                                        <p class="color-text-a">
                                            Thông tin người đăng.
                                        </p>
                                        <ul class="list-unstyled">
                                            <li class="d-flex">
                                                <strong>Email:</strong>
                                                <span id="proSeller" class="color-text-a">&nbsp;{{email}}</span>
                                            </li>
                                        </ul>

                                        <div class="socials-a">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="bi bi-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="bi bi-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="bi bi-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#">
                                                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                            <div class="col-md-12 col-lg-4">
                                <div class="property-contact">
                                    <form id="myForm" class="form-a" method="post">
                                        <div class="row">
                                            <div class="col-md-12 mb-1">
                                                <div class="form-group">
                                                    <input type="text"
                                                           class="form-control form-control-lg form-control-a"
                                                           id="inputName" name="name" placeholder="Tên *" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-1">
                                                <div class="form-group">
                                                    <input type="email"
                                                           class="form-control form-control-lg form-control-a"
                                                           id="inputEmail" name="email" placeholder="Email *"
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-1">
                                                <div class="form-group">
                                                    <textarea id="textMessage" class="form-control"
                                                              placeholder="Lời nhắn *" name="message" cols="45" rows="8"
                                                              required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <button type="button" class="btn btn-a" data-bs-toggle="modal"
                                                        data-bs-target="#alertModal">Gửi
                                                </button>
                                                <div class="modal fade" id="alertModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Xác
                                                                    nhận</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Bạn có đồng ý gửi?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Hủy
                                                                </button>
                                                                <button type="button" onclick="approveSending()"
                                                                        data-bs-dismiss="modal" class="btn btn-primary">
                                                                    Có
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    {{#if ../user}}
                                        <button style="margin-top:10px" type="button" class="btn btn-a"
                                                data-bs-toggle="modal"
                                                data-bs-target="#fulfill">Kết nối ngay
                                        </button>
                                        <input type="hidden"
                                               class="form-control form-control-lg form-control-a"
                                               id="inputNameUser" value="{{../user.name}}">
                                        <input type="hidden"
                                               class="form-control form-control-lg form-control-a"
                                               id="inputEmailUser" value="{{../user.email}}">
                                    {{/if}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Bình luận</h3>
                        </div>
                        <div class="box-comments">
                            <ul id="list-comments" class="list-comments">
                                {{#each ../comment}}
                                    <li class="comment-children">
                                        <div class="comment-avatar">
                                            <img src="/public/assets/img/author-1.jpg" alt="">
                                        </div>
                                        <div class="comment-details">
                                            <h4 class="comment-author">{{name}}</h4>
                                            <span>{{time timecmt}}</span>
                                            <p class="comment-description">
                                                {{content}}
                                            </p>
                                            <a href="3">Reply</a>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="form-comments">
                            <div class="title-box-d">
                                <h3 class="title-d">Trả lời</h3>
                            </div>
                            <form class="form-a">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <label for="textMessage">Nhập bình luận</label>
                                            <textarea id="textMessageCmt" class="form-control" placeholder="Comment *"
                                                      name="message" cols="45" rows="8" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="cmtBtn" class="btn btn-a">Gửi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Property Single-->
    {{/with}}
    <!--    Modal successfully-->
    <div class="modal fade" id="ignismyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button style="position: absolute;right: 5px;top:3px" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="thank-you-pop">
                        <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png"
                             alt="">
                        <h1>Cảm ơn!</h1>
                        <p>Chủ nhà sẽ liên hệ đến bạn trong thời gian sớm nhất</p>
                        <h3 class="cupon-pop">Trân trọng: <span>HAGL</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Modal fulfill form-->
    <div class="modal fade" id="fulfill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Liên lạc</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Lời nhắn:</label>
                            <textarea rows="7" class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="sendMsg" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
    <!--    Modal Login Required-->
    <!-- Modal HTML -->
    <div id="modalLogin" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <div class="form-group">
                            <h5 style="justify-content: center;display: flex">Vui lòng đăng nhập</h5>
                        </div>
                        <div class="form-group" style="justify-content: center;display: flex">
                            <button formaction="/authen/login" type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#">Chuyển trang đăng nhập?</a>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="custId" name="custId" value="0">
</main><!-- End #main -->

