
<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{catIDProduct.name}}</h1>
                        <span id="nameParentPro" class="color-text-a">{{catParentIDProduct.name}}</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{catIDProduct.name}}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid" id="section-pro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-option">
                        <form>
                            <select class="custom-select">
                                <option selected>All</option>
                                <option value="1">New to Old</option>
                                <option value="2">For Rent</option>
                                <option value="3">For Sale</option>
                            </select>
                        </form>
                    </div>
                </div>
                {{#each productByCatID}}
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a" >
                                <img style="width: 400px;height: 300px;object-fit: cover" src="{{image}}" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a" style="font-size: 20px">
                                            <a href="/{{calling}}/{{category}}/{{id}}">{{title}}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{current}}</span>
                                        </div>
                                        <a href="/{{calling}}/{{category}}/{{id}}" class="link-a">Click here to view
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>{{acreage}}
                                            <sup>2</sup>
                                        </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>{{bedroom}}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baths</h4>
                                                <span>{{bathroom}}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul id="pageUl" class="pagination justify-content-end">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Property Grid Single-->

</main><!-- End #main -->
{{#section 'js'}}
    <script>
        function element(totalPages,currentPage,type,noti,id){
            $.ajax({
                async:false,
                type:"GET",
                url:"/page/"+type+noti+id+currentPage,
                success:function (data){
                    $("#section-pro").replaceWith(data)
                },
                err:function (xhr,ajaxOptions,thrownError){
                    alert("Lỗi")
                }
            })
            const ulTag=document.querySelector("ul#pageUl")
            let liTag=''
            let beforePages=currentPage-1
            let afterPages=currentPage+1
            let activeLi=''
            if (totalPages<=4){
                for (let i=1;i<=totalPages;i++){
                    if (currentPage == i) activeLi='active'
                    else activeLi=''
                    liTag+=`<li class="page-item ${activeLi}" onclick="element(${totalPages},${i},'${type}','${noti}','${id}')">
                                <a class="page-link">${i}</a>
                            </li>`
                }
            }else{
                if (currentPage>1){
                    liTag+=` <li class="page-item" onclick="element(${totalPages},${currentPage-1},'${type}','${noti}','${id}')">
                                <a class="page-link" tabindex="-1">
                                    <span class="bi bi-chevron-left"></span>
                                </a>
                            </li>`
                }
                if (currentPage>2){
                    liTag+=`<li class="page-item" onclick="element(${totalPages},1,'${type}','${noti}','${id}')">
                                <a class="page-link">1</a>
                            </li>`
                    if (currentPage>3){
                        liTag+=`<li class="page-item">
                                <a class="page-link">...</a>
                            </li>`
                    }
                }
                if (currentPage == totalPages){
                    beforePages=beforePages-2
                }else if (currentPage == totalPages -1){
                    beforePages=beforePages-1
                }
                if (currentPage == 1){
                    afterPages=afterPages+2
                }else if (currentPage == 2){
                    afterPages=afterPages+1
                }
                for (let i=beforePages;i<=afterPages;i++){
                    if (i>totalPages) continue
                    if (i==0) i=i+1
                    if (currentPage == i) activeLi='active'
                    else activeLi=""
                    liTag+=`<li class="page-item ${activeLi}" onclick="element(${totalPages},${i},'${type}','${noti}','${id}')">
                                <a class="page-link">${i}</a>
                            </li>`
                }
                if (currentPage<totalPages-1){
                    if (currentPage<totalPages-2){
                        liTag+=`<li class="page-item">
                                <a class="page-link">...</a>
                            </li>`
                    }
                    liTag+=`<li class="page-item" onclick="element(${totalPages},${totalPages},'${type}','${noti}','${id}')">
                                <a class="page-link">${totalPages}</a>
                            </li>`
                }
                if (currentPage<totalPages){
                    liTag+=` <li class="page-item next" onclick="element(${totalPages},${currentPage+1},'${type}','${noti}','${id}')">
                                <a class="page-link">
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </li>`
                }
            }
            ulTag.innerHTML=liTag
        }
        element({{totalOfPages}},{{currentPage}},"{{type}}/","{{noti}}","{{catIDProduct.id}}/")
    </script>
{{/section}}